<div ng-include="'components/navbar/navbar.html'" class="ngnav"></div>
<div class="container">
  <div class="hero-anime" id="seriesDetail" ng-style="heroBackground">
    <div class="hero-overlay boxShadowLow">
      <div class="container">
        <div class='row text-left'>
          <div class="row col-md-8">
            <!--Details of searched show-->
            <div ng-show="show.SeriesName" class="col-md-12" class="animate-hide">
              <div class="row">
                <div class="col-md-8 series-name" tooltip-placement="left" tooltip-popup-delay="1000" tooltip="tvdbId: {{show.id}}">{{show.SeriesName}}</div>
                <div class="col-md-4 first-aired">{{show.yearAired}} - {{show.season}}</div>
              </div>

              <img class="boxShadowLow" ng-src="{{bannerImg}}" style="width:100%;max-height:140px;margin-top:20px;" ng-hide="noBanner">

              <br/><br/><br/>

              <p class="text-justify">{{show.Overview}}</p>

              <br/>

              <div class="row">
                <span class="col-md-4"><strong>{{show.Episodes.length}} Episodes ({{show.Status}})</strong></span>
                <span class="col-md-4"><!--placeholder--></span>
                <span class="col-md-4 text-right"><rating ng-model="show.Rating" max="10" readonly="true"></rating></p></span>
              </div>
              <!-- Genres -->
              <div class="text-right"><span ng-repeat="genre in show.genres"> <span class="label label-default">{{genre}}</span></span></div>

              <!--jays feature request-->
              <a target="_blank" href="http://slist.amiami.com/top/search/list?s_keywords={{show.SeriesName}}&submit=Search&pagemax=20"><span class="glyphicon glyphicon-shopping-cart" tooltip="Buyfag? Click here!" tooltip-placement="right"></span></a>
            </div>
          </div>
          <div ng-show="show.SeriesName" id='placeholder' style="margin-left: 10px" class="col-md-4" ng-show="show.poster">
            <img class="boxShadow" ng-src="{{show.poster && '/assets/cache/'+show.poster || ''}}" style="width:100%;">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 boxShadowLow" id="torrents">
    <!--<pre>-->
      <!--Current Torrent Settings-->
      <!--Search name: {{show.torrentOptions.name}}-->
      <!--Resolution: {{show.torrentOptions.resolution}}-->
      <!--Group: {{show.torrentOptions.tag}}-->
    <!--</pre>-->
    <div id="torrentFilters" class="container-fluid well well-sm" style="min-height: 30px">
      <form class="form-inline">
        <div class="form-group col-md-6">
          <label for="torrentName"><i class="fa fa-search fa-lg"></i></label>
          <input class="form-control" type="text" name="torrentName" id="torrentName" ng-model="show.torrentOptions.name" placeholder="{{show.SeriesName}}" size="50"/>
        </div>
        <div class="form-group col-md-3" style="text-align: right">
          <label for="torrentTag"><i class="fa fa-group"></i></label>
          <input class="form-control" type="text" name="torrentTag" id="torrentTag" ng-model="show.torrentOptions.tag"/>
        </div>
        <div class="form-group col-md-2" style="text-align: right">
          <label for="torrentResolution"><i class="fa fa-desktop"></i></label>
          <select class="form-control" name="torrentResolution" id="torrentResolution" ng-model="show.torrentOptions.resolution">
            <option selected val=""></option>
            <option val="1080">1080</option>
            <option val="720">720</option>
            <option val="480">480</option>
          </select>
        </div>
        <span class="col-md-1" style="text-align: right">
          <button ng-click="updateTorrentSearch()" class="btn btn-default"><i class="fa fa-refresh" ng-class="{'fa-spin': updatingSearch}"></i></button>
        </span>
      </form>
    </div>
    <div class="alert alert-warning" ng-hide="torrentCount">No torrents found. Adjust the above filters and refresh.</div>
    <table  ng-if="torrentCount" class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th ng-repeat="header in torrentTableHeaders" ng-style="header.style">
              <a ng-click="sortBy(header.val)" ng-bind-html="getHeaderLabel($index)"></a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="torrent in torrents | orderBy:torrentSort:reverse">
          <td><a href="{{torrent.href}}"><i class="fa fa-fw fa-download"></i></a></td>
          <td>{{torrent.name}}</td>
          <td>{{torrent.releaseTag}}</td>
          <td style="text-align: center">{{torrent.resolution}}</td>
          <td style="text-align: center"><i class="fa fa-check" ng-show="torrent.HD"></i></td>
          <td style="text-align: center">{{torrent.size | bytes}}</td>
          <td style="text-align: center">{{torrent.downloads}}</td>
          <td style="text-align: center">{{torrent.seeds}}</td>
          <td style="text-align: center">{{torrent.leeches}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
