<div ng-include="'components/navbar/navbar.html'"></div>
<header class="hero-unit" id="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                 <h1 class="">Watchlist</h1>

                <p class="lead  italic">modify your list of shows to track</p>
            </div>
            <div class="col-md-6">
                <img src="assets/images/chaika.png" alt="eyebrows" class="img256">
            </div>
        </div>
        <div class='row text-left'>
        <!-- Input field for new shows -->
            <form class="show-form" >
                <div class="form-group has-feedback">
                    <!--<label for="addshow">Add new series</label>-->
                    <div class="input-group" class="col-md-6">
                        <input id="addshow" type="text"
                            class="form-control"
                            placeholder="Search for series"
                            ng-model="newShow"
                            typeahead="tvdbshow as tvdbshow.SeriesName for tvdbshow in getTVDBShows($viewValue)"
                            typeahead-loading="loadingShows"
                            typeahead-min-length="4"
                            typeahead-wait-ms="750"/>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary" ng-click="addShow()" ng-disabled="!(newShow.SeriesName)">
                                <strong>Add Show</strong>
                            </button>
                        </span>
                    </div>
                    <span ng-show="loadingShows" class="fa fa-spinner fa-spin form-control-feedback" style="color:black;right:100px;z-index:100;"></span>
                </div>
            </form>
            <!--Details of searched show-->
            <div ng-show="newShow.SeriesName" class="col-md-6">
                <div class="row">
                    <div class="col-md-6 series-name" tooltip-position="top" tooltip-popup-delay="1000" tooltip="{{newShow.id}}">{{newShow.SeriesName}}</div>
                    <div class="col-md-6 first-aired">[{{newShow.Network}}] {{newShow.FirstAired}}</div>
                </div>
                <img ng-src="http://thetvdb.com/banners/{{newShow.banner}}" style="width:100%;">
                <h4>Description:</h4>
                <p class="text-justify">{{newShow.Overview}}</p>
            </div>
            <!--full json data output from show-->
            <pre ng-show="newShow.SeriesName" class="col-md-6">Model: {{newShow | json}}</pre>
        </div>
    </div>
</header>
<div class="container">
    <!-- Add show -->

    <!-- Display current list -->
    <div class="row">
        <div class="col-lg-12">
             <h1 class="page-header">Shows:</h1>

            <ul class="show-box nav nav-tabs nav-stacked col-md-6 col-lg-6 col-sm-12" ng-repeat="show in shows">
                <li>
                    <div class="row">
                        <div class="col-md-2">
                            <img src="http://i.imgur.com/IHdgTBS.png" class="show-thumb" />
                        </div>
                        <div class="col-md-10">
                            <div class="show-title">
                                <a href="#" tooltip="{{show.info}}">{{show.name}}</a>
                            </div>
                            <hr class="show-hr" />
                            <div class="show-year">2014</div>
                            <div class="row">
                                <div class="show-episodes col-md-6">Episodes: 5 of 12</div>
                                <div class="show-status col-md-6">Status: Currently airing</div>
                            </div>
                            <p></p>
                            <div class="show-studio">JC Staff</div>
                            <button type="button" class="close" ng-click="deleteShow(show)"><i class="glyphicon glyphicon-trash"></i>

                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p>Created by
            <a href="https://twitter.com/kariudo">@kariudo</a> | All rights reserved.</p>
    </div>
</footer>