<div ng-include="'components/navbar/navbar.html'" class="ngnav"></div>
<header class="hero-unit" id="banner" ng-style="(!showDetail.fanart && {'background':'#8CDCFA url(/assets/images/ene_ghost.png) center 15px no-repeat'} || '')">
    <div id="backgroundmagic" ng-style="(showDetail.fanart && {'background-image':'url(/assets/cache/'+showDetail.fanart+')'} || '')"></div>
    <div class="container">
        <div class='row text-left'>

            <div class="row col-md-8">
                <div class="row" class="col-md-6" ng-hide="showDetail.poster" ng-animate="'animate'">
                    <div class="col-md-6 text-center">
                        <h1 class="" style="color: rgb(101, 129, 170);">Watchlist</h1>
                        <p class="lead  italic" style="color: rgb(90, 90, 90);">modify your list of shows to track</p>
                    </div> <!-- End header text -->
                </div>
                <!-- Input field for new shows -->
                <div class="col-md-12">
                    <form class="show-form" >
                        <div class="form-group has-feedback">
                            <!--<label for="addshow">Add new series</label>-->
                            <div class="input-group" class="col-md-6">
                                <input id="addshow" type="text"
                                    class="form-control"
                                    placeholder="Search for series"
                                    ng-model="newShow"
                                    typeahead="tvdbshow as tvdbshow.SeriesName for tvdbshow in getTVDBShows($viewValue)"
                                    typeahead-loading="loadingShows"
                                    typeahead-min-length="4"
                                    typeahead-wait-ms="750"
                                    style="background-color: rgba(255, 255, 255, 0.7);"/>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary" ng-click="addShow()" ng-disabled="!(newShow.SeriesName)">
                                        <strong>Add Show</strong>
                                    </button>
                                </span>
                            </div>
                            <span ng-show="loadingShows">
                                <span class="fa fa-spinner fa-spin form-control-feedback" style="color: black;right: 91px;z-index: 100; top: 0px;font-size: 1.3em;"></span>
                                <span class="form-control-feedback" style="color: rgba(0, 0, 0, 0.3);right: 170px;z-index: 100; top: 0px;font-size: 1.3em;">Searching</span>
                            </span>
                        </div>
                    </form>
                </div>
                <!--End input field -->
                
                <!--Details of searched show-->
                <div ng-show="newShow.SeriesName" class="col-md-12">
                    <div class="row">
                        <div class="col-md-10 series-name" tooltip-placement="left" tooltip-popup-delay="1000" tooltip="tvdbId: {{newShow.id}}">{{newShow.SeriesName}}</div>
                        <div class="col-md-2 first-aired">{{newShow.FirstAired | date: 'yyyy'}}</div>
                    </div>
                    
                    <img ng-src="{{bannerImg}}" style="width:100%;max-height:140px"  onerror="imgError(this);" ng-hide="noBanner">
                    
                    <br/><br/><br/>
                    
                    <p class="text-justify">{{newShow.Overview}}</p>
                    
                    <br/>
                    
                    <div class="row">
                        <span class="col-md-4"><strong>{{showDetail.Episodes.length}} Episodes ({{showDetail.Status}})</strong></span>
                        <span class="col-md-4"><!--placeholder--></span>
                        <span class="col-md-4 text-right"><rating ng-model="showDetail.Rating" max="10" readonly="true"></rating></p></span>
                    </div>
                    <!-- Genres -->
                    <div class="text-right"><span ng-animate="'animate'" ng-repeat="genre in genres"> <span class="label label-default">{{genre}}</span></span></div>
                    
                    <!--jays feature request-->
                    <a href="http://slist.amiami.com/top/search/list?s_keywords={{showDetail.SeriesName}}&submit=Search&pagemax=20"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                </div>
            </div>
            <div ng-show="newShow.SeriesName" id='placeholder' class="col-md-4" ng-show="showDetail.poster">
                <img class="boxShadow" ng-src="{{showDetail.poster && '/assets/cache/'+showDetail.poster || ''}}" style="width:100%;" onerror="imgError(this);">
            </div>
            <!-- End Search Result Details -->
        </div>
    </div>
</header>
<div class="container">

    <!-- Display current list -->
    <div class="row">
        <div class="col-lg-12">
             <h1 class="page-header">Shows:</h1>

            <ul class="show-box nav nav-tabs nav-stacked col-md-6 col-lg-6 col-sm-12" ng-repeat="show in shows">
                <li>
                    <div class="row">
                        <div class="hidden-md hidden-lg col-sm-12 col-xs-12">
                            <img ng-src="/assets/cache/{{show.banner}}" style="width:100%" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 hidden-xs hidden-sm">
                            <img ng-src="/assets/cache/thumbs/{{show.poster}}" class="show-thumb" />
                        </div>
                        
                        <div class="col-md-10 show-list-details">
                            <div class="row">
                                <div class="show-title col-md-10">
                                    <a href="#" tooltip="{{show.info}}">{{show.SeriesName | limitTo : 40}}</a>
                                </div>
                                <div class="show-date col-md-2 text-right">{{show.FirstAired | date : 'yyyy'}}</div>
                            </div>
                            <hr class="show-hr" />
                            <div class="row">
                                <div class="show-episodes col-md-6">Episodes: {{show.Episodes.length}}</div>
                                <div class="show-status col-md-6">Status: {{show.Status}}</div>
                            </div>
                            <p></p>
                            <div class="show-overview">{{show.Overview | limitTo : 250 }}<span ng-show="show.Overview.length > 250">&hellip;</span></div>
                            <button type="button" class="close" ng-click="deleteShow(show)"><i class="delete glyphicon glyphicon-trash"></i>

                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p>Created by
            <a href="https://twitter.com/kariudo">@kariudo</a> | All rights reserved.</p>
    </div>
</footer>